<div class="header-section flex justify-between items-center p-3 md:px-12 md:justify-start md:space-x-10">
    <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="/new">
            <img class="h-8 w-auto sm:h-10" src="https://i.ibb.co/Ldfh18h/logo.png" alt="Logo">
        </a>
    </div>
    <nav *ngFor="let header of headers" class="hidden md:flex space-x-10">
        <a href={{header.link}} class="text-base font-medium text-gray-500 hover:text-gray-900"> {{header.title}}
        </a>
    </nav>
    <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
        <a href="#"
            class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700">
            Login
        </a>
    </div>
</div>
